<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="jumbotron">
    
          <h1><%= tournaments.name  %></h2>
 <a href="/tournaments/reg/<%= tournaments.id %>" class="btn btn-danger">
</ul>
          
   
    </div>

<% include ../partials/footer.ejs %>
